.container {
    border: dashed 3px gold;
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
}

.items {
    border: solid 2px black;
    width: 100px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    margin: 1px;
}

.row-reverse {
    border: dashed 2px fuchsia;
    flex-direction: row-reverse;
}

.column {
    border: dashed 2px green;
    flex-direction: column;
}

.column-reverse {
    border: dashed 2px lightcoral;
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

section {
    padding: 10px;
    border-bottom: dotted 2px grey;
}

.items-align {
    width: 30px;
}

.justify-start {
    border: dashed 2px forestgreen;
    justify-content: flex-start;
}

.justify-end {
    border: dashed 2px firebrick;
    justify-content: flex-end;
}

.justify-center {
    border: dashed 2px darkviolet;
    justify-content: center;
}

.justify-space-between {
    border: dashed 2px chartreuse;
    justify-content: space-between;
}

.justify-space-around {
    border: dashed 2px cadetblue;
    justify-content: space-around;
}

.justify-space-evenly {
    border: dashed 2px crimson;
    justify-content: space-evenly;
}

.items-1 {
    height: 10px;
}

.items-2 {
    height: 20px;
}
.items-3 {
    height: 30px;
}

.items-3 {
    width: 15px;
}

.align-flex-start {
    border: dashed 2px crimson;
    align-items: flex-start;
}

.align-flex-end {
    border: dashed 2px crimson;
    align-items: flex-end;
}

.align-center {
    border: dashed 2px crimson;
    align-items: center;
}

.align-baseline {
    border: dashed 2px crimson;
    align-items: baseline;
}

.align-center {
    border: dashed 2px crimson;
    align-items: center;
}
