.navigation {
    margin: 30px 0 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.menu {
    display: flex;
    z-index: 2;
}

.menu li {
    position: relative;
}

.menu li ul {
    display: none;
}

.menu li:hover ul {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    z-index: 2;
}

.menu a:hover {
    background: rgba(220, 220, 220, 0.8);
}

.menu a {
    display: block;
    padding: 1em 20px;
    white-space: nowrap;
    background: #ffffff;
}

.icon {
    width: 30px;
    height: 30px;
    visibility: hidden;
}

@media only screen and (max-width: 500px) {
    .navigation {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    .component {
        width: 100%;
    }
    .icon {
        visibility: visible;
    }
    #menu-type:checked~nav ul {
        display: flex;
    }
    #menu-type:not(:checked)~nav ul {
        display: none;
    }
    .items {
        flex-flow: column;
        position: relative;
        display: block;
    }
    .menu {
        position: absolute;
        background: rgb(245, 245, 245, 0.8);
        border-radius: 5px;
        flex-direction: column;
        width: 50%;
        align-self: flex-end;
        z-index: 1;
        right: 0;
    }
}