.container {
    margin: 0 auto;
    width: 100%;
    max-width: 85%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 70);
}

.navigation {
    margin: 30px 0 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: baseline;
}

.component {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.menu {
    display: flex;
    z-index: 2;
}

.menu li ul {
    display: none;
}

.menu li:hover ul {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
}

.menu a:hover {
    background: rgba(220, 220, 220, 0.8);
}

.menu a {
    display: block;
    padding: 1em 20px;
    white-space: nowrap;
    background: #ffffff;
}

.icon {
    width: 30px;
    height: 30px;
    visibility: hidden;
}

.first {
    background: url(../img/home1-arroz.jpg) no-repeat center;
    background-size: cover;
    height: 30vh;
    padding: 30vh 0;
    display: flex;
    justify-content: flex-start;
}

.action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
    padding: 0;
    box-sizing: border-box;
}

.link-blue {
    background: transparent;
    border: solid rgb(0, 0, 70) 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    white-space: nowrap;
    font-size: 90%;
    font-weight: bold;
    color: rgb(0, 0, 80);
    margin: 0px 10px 0 0;
}

.text {
    line-height: 1.5;
    white-space: nowrap;
}

.link-blue:hover {
    background: rgb(0, 0, 70);
    color: white;
}

.content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    align-items: center;
}

.content h1 {
    white-space: nowrap;
}

.left {
    width: 70%;
    padding: 10vh 0;
    margin-right: 5%;
}

.line {
    background: #F0DB48;
    height: 3px;
    width: 10vw;
}

.right img {
    display: block;
    width: 100%;
}

.about {
    line-height: 1.5;
    padding: 20px 0;
    margin: 0 0 30px;
}

.link-yellow {
    background: #F0DB48;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 90%;
    font-weight: bold;
    color: rgb(0, 0, 80);
    padding: 20px;
    transition: 0.5s;
    margin: 0px 10px 0 0;
}

.link-yellow:hover {
    background: rgb(200, 200, 10);
}

.cardapio {
    background: #F0DB48;
    padding: 10vh 0;
}

.cardapio img {
    max-width: 50vw;
    max-height: 20vh;
}

.content-cardapio {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.line-blue {
    background: rgb(0, 0, 70);
    height: 3px;
    width: 15%;
}

.photos {
    margin: 5vh 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.photos figure {
    width: 25vw;
    margin: 0;
    display: flex;
    flex-flow: column;
    position: relative;
}

.photos img {
    width: 100%;
}

.photos figcaption {
    padding: 15px;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 90%;
    text-align: center;
    background: #fafafa;
    color: gray;
}

.photos figure span {
    display: none;
}

.photos figure:hover span {
    display: block;
    padding: 15px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    height: 20%;
    background: #fafafa;
    color: gray;
}

.photos figure:hover figcaption {
    position: absolute;
    bottom: 30%;
    width: 100%;
    background: #fafafa;
    color: gray;
}

.content-event {
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.description-event {
    padding: 5vh 0;
    margin-left: 5vw;
    font-size: 16px;
}

.content-event .right img {
    display: block;
    width: 100%;
}

.footer{
    background: #F0DB48;
}

.contact {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.contact p {
    padding: 30px;
    font-size: 80%;
    white-space: nowrap;
    color: rgb(0, 0, 80);
}

.bold {
    font-weight: bold;
}

.midia {
    padding: 30px;
}

.midia img {
    width: 5vh;
    margin: 0 10px;
}

.content-contact {
    background: #f8f8f8;
}

.content-contato {
    padding: 40px 0 30px;
}

.contact-info {
    margin: 10px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

form {
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-flow: column;
    width: 30%;
}

form h3 {
    margin: 15px 0;
}

form label {
    padding: 5px 0;
    margin: 5px 0 0;
    font-size: 15px;
}

.input {
    padding: 10px;
    margin: 10px 0;
    border: solid 1px rgb(210, 210, 210);
    border-radius: 3px;
}

.button {
    background: #F0DB48;
    border: none;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    white-space: nowrap;
    font-size: 90%;
    font-weight: bold;
    color: rgb(0, 0, 80);
    margin: 10px 0;
}

.button:hover {
    background: rgb(200, 200, 10);
    transition: 0.5s;
}

.conteudo-cardapio {
    padding: 40px 0 30px;
}

.informativo {
    padding: 10px 0;
    margin: 10px 0;
}

.table {
    padding: 30px 0;
}

table {
    width: 100%;
    font-size: 15px;
}

th {
    font-weight: bold;
    color: gray;
    text-align: left;
    padding: 10px 0;
}

td, tr {
    border-bottom: solid 1px rgb(210, 210, 210);
    padding: 10px 0;
}

tr:hover {
    background: rgb(255, 240, 19, 0.5);
}

.conteudo-cardapio {
    padding: 0;
}

.cardapio-images {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    background: #fafafa;
    padding: 5vh 0;
}

.cardapio-images figure {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-flow: column;
}

.cardapio-images figcaption {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #9b9797;
}

.cardapio-images img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .navigation {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    .component {
        width: 100%;
    }
    .icon {
        visibility: visible;
    }
    #menu-type:not(:checked)~nav ul {
        position: relative;
        display: none;
    }
    #menu-type:checked~nav ul li ul {
        position: relative;
        width: 100%;
    }
    .menu {
        position: absolute;
        background: rgba(214, 174, 174, 0.8);
        flex-direction: column;
        align-self: center;
        z-index: 2;
        width: 100%;
    }
    .information {
        font-size: 70%;
    }
    .photos figure {
        width: 50vw;
    }
    .photos {
        flex-flow: column wrap;
    }
    .contact {
        flex-flow: column;
        font-size: 60%;
    }
    .description-event {
        font-size: 60%;
    }
    .cardapio-images{
        flex-flow: column wrap;=
    }
    .cardapio-images figure{
        width: 100%;
        margin: 3vh 0;
    }
}